### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
purchase_data.shape

(780, 7)

* Display the total number of players

In [3]:
purchase_data['SN'].count()

780

In [4]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
purchase_data.isnull().values.any()

False

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Counting Unique Items
unique_items_count = pd.DataFrame(purchase_data["Item Name"].value_counts())
unique_items_count.head()

                                              Item Name
Final Critic                                         13
Oathbreaker, Last Hope of the Breaking Storm         12
Fiery Glass Crusader                                  9
Nirvana                                               9
Extraction, Quickblade Of Trembling Hands             9

In [8]:
total_item_spend =purchase_data.groupby(["Item Name"]).sum().sort_values("Price", ascending=False)
total_item_spend

                                              Purchase ID  Age  Item ID  Price
Item Name
Final Critic                                         6371  266     1241  59.99
Oathbreaker, Last Hope of the Breaking Storm         4960  287     2136  50.76
Nirvana                                              2761  215      738  44.10
Fiery Glass Crusader                                 4345  187     1305  41.22
Singed Scalpel                                       3947  178      824  34.80
Lightning, Etcher of the King                        2571  202      472  33.84
Extraction, Quickblade Of Trembling Hands            3484  223      972  31.77
Glimmer, Ender of the Moon                           3218  160      546  30.80
Winter's Bite                                        3692  165      576  30.16
Persuasion                                           3960  217     1251  28.99
Wolf                                                 3142  145      480  28.32
Wolf, Promise of the Moonwalker                      1948  126     1074  26.88
Azurewrath                                           2520  122      960  26.40
Hero Cane                                            2534  140      150  26.10
Shadow Strike, Glory of Ending Hope                  2277  200      296  25.28
Mercy, Katana of Dismay                              1196  110      695  24.70
Blazeguard, Reach of Eternity                        2359  124      640  24.55
Peacekeeper, Wit of Dark Magic                       1037  105      690  23.70
Deluge, Edge of the West                             1825  111      435  22.15
Oathbreaker, Spellblade of Trials                    4052  120     1113  21.56
Ghastly Adamantite Protector                         1645  169      816  21.48
Conqueror Adamantite Mace                            1847  104      325  21.20
Avenger                                              1668  162      612  20.64
Faith's Scimitar                                     1601   79      665  20.45
Betrayal, Whisper of Grieving Widows                 1364  123      195  19.70
Misery's End                                         2127  115      444  19.56
Bone Crushing Silver Skewer                          1399   99      660  19.44
Hatred                                               1968   81      208  19.36
Brutality Ivory Warmace                              3661  176      600  19.36
Spada, Etcher of Hatred                               956   80      628  19.20
...                                                   ...  ...      ...    ...
Souleater                                            2303  106      105   5.50
Scalpel                                              1343   93      513   5.37
Possessed Core                                        788   53       28   5.22
Venom Claymore                                       1013   95      496   5.16
Splinter                                             1149   74        0   5.12
War-Forged Gold Deflector                            2326  102      775   5.05
Rage, Legacy of the Lone Victor                       996   44       96   4.96
Darkheart, Butcher of the Champion                    858   29      316   4.90
Endbringer                                            181   16       51   4.66
Undead Crusader                                        97   20      134   4.50
Warped Diamond Crusader                              1406   72      405   4.20
Celeste                                               318   20       91   4.17
Winterthorn, Defender of Shifting Worlds             1440   51      354   4.16
Hope's End                                           1410   78      280   4.12
Spectral Diamond Doomblade                           1240   46      230   4.08
Frenzy, Defender of the Harvest                       760   47      138   3.96
Alpha, Reach of Ending Hope                           664   31       47   3.58
Riddle, Tribute of Ended Dreams                        68   15       27   3.30
Dragon's Greatsword                                  1488   66      549   3.27
Trickster                                             932   42       62   3.10
Sun Strike, Jaws of Twisted Visions                   482   44      336   2.96
Betrayer                                              700   31       90   2.94
Curved Axe                                            194   54       66   2.32
Unholy Wand                                          1042   50       52   2.24
Ghost Reaver, Longsword of Magic                      321   33      118   2.17
Flux, Destroyer of Due Diligence                      934   54       56   2.12
Whistling Mithril Warblade                            481   45      250   2.00
Exiled Mithril Longsword                              525   24      126   2.00
Gladiator's Glaive                                    727   20      104   1.93
The Decapitator                                       238   21       42   1.75

[179 rows x 4 columns]

In [9]:
# Collecting averagePrice of items
total_item_spend=total_item_spend.drop(["Purchase ID", "Age","Item ID"], axis=1)
total_item_spend["Units Sold"]=unique_items_count["Item Name"]
total_item_spend["Average Price"] = total_item_spend["Price"]/unique_items_count["Item Name"]
total_item_spend.head()

                                              Price  Units Sold  Average Price
Item Name
Final Critic                                  59.99          13       4.614615
Oathbreaker, Last Hope of the Breaking Storm  50.76          12       4.230000
Nirvana                                       44.10           9       4.900000
Fiery Glass Crusader                          41.22           9       4.580000
Singed Scalpel                                34.80           8       4.350000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Counting Gender
gender_count=pd.DataFrame(purchase_data["Gender"].value_counts())
gender_count

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [11]:
print ("% of Male Purchasers =", 652/780)
print ("% of Female Purchasers=", 113/780)
print ("% of Other Purchasers=", 15/780)

% of Male Purchasers = 0.8358974358974359
% of Female Purchasers= 0.14487179487179488
% of Other Purchasers= 0.019230769230769232

In [12]:

gender_table =purchase_data.groupby(["Gender"]).sum().sort_values("Price", ascending=False)
#gender_total_MTX["Total MTX $"]=purchase_data.grouby(["Gender"])
#ender_table=purchase_data.groupby(["Gender", "Item Name"])["Price"].sum()
#gender_table=purchase_data.groupby(["Gender", "Item Name"])
gender_table.head()

                       Purchase ID    Age  Item ID    Price
Gender
Male                        255921  14942    60978  1967.64
Female                       42870   2412     9659   361.94
Other / Non-Disclosed         5019    363     1212    50.19

In [13]:
#gender_table["Avg Male Purchase"]=gender_table([0,4]/652)
print("Avg Male Purchase $ =",1967.64/652)
print("Avg Female Purchase $=", 361.94/113)
print("Avg Other Purchase $=", 50.19/15)

Avg Male Purchase $ = 3.0178527607361967
Avg Female Purchase $= 3.203008849557522
Avg Other Purchase $= 3.3459999999999996


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
gender_table =purchase_data.groupby(["Gender"]).sum().sort_values("Price", ascending=False)
gender_table["Purchase Count"]=gender_count["Gender"]
gender_table=gender_table.drop(["Purchase ID", "Age", "Item ID"], axis=1)
gender_table["Average Purchase"]=gender_table["Price"]/gender_table["Purchase Count"]
gender_table

                         Price  Purchase Count  Average Purchase
Gender
Male                   1967.64             652          3.017853
Female                  361.94             113          3.203009
Other / Non-Disclosed    50.19              15          3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# Create the bins in which Data will be held
bins = [0, 10, 15, 20, 25, 30, 35, 40,100]
# Create the names for the bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Binned"] =pd.cut(purchase_data["Age"], bins=bins, labels=labels)
#df
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Binned
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,15-19
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,30-34
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,30-34
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,15-19
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,15-19
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,35-39
24,24,Siala43,30,Male,141,Persuasion,3.19,25-29
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,15-19
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,20-24
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,10-14
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [16]:
age_count=pd.DataFrame(purchase_data["Binned"].value_counts())

age_count

       Binned
20-24     325
15-19     200
25-29      77
10-14      54
30-34      52
35-39      33
<10        32
40+         7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
age_table =purchase_data.groupby(["Binned"]).sum().sort_values("Price", ascending=False)
age_table["Purchase Count"]=age_count["Binned"]
age_table["Total Spend"]=age_table["Price"]
age_table=age_table.drop(["Purchase ID", "Age", "Item ID","Price"], axis=1)
age_table["Average Purchase"]=age_table["Total Spend"]/age_table["Purchase Count"]
age_table

        Purchase Count  Total Spend  Average Purchase
Binned
20-24              325       981.64          3.020431
15-19              200       621.56          3.107800
25-29               77       221.42          2.875584
10-14               54       156.60          2.900000
30-34               52       155.71          2.994423
35-39               33       112.35          3.404545
<10                 32       108.96          3.405000
40+                  7        21.53          3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
SN_count=pd.DataFrame(purchase_data["SN"].value_counts())

SN_count.head()

             SN
Lisosia93     5
Iral74        4
Idastidru52   4
Hada39        3
Zontibe81     3

In [19]:
SN_table =purchase_data.groupby(["SN"]).sum().sort_values("Price", ascending=False)
SN_table["Purchase Count"]=SN_count["SN"]
SN_table["Total Spend"]=SN_table["Price"]
SN_table=SN_table.drop(["Purchase ID", "Age", "Item ID",], axis=1)
SN_table["Average Purchase"]=SN_table["Total Spend"]/SN_table["Purchase Count"]
SN_table.head()

             Price  Purchase Count  Total Spend  Average Purchase
SN
Lisosia93    18.96               5        18.96          3.792000
Idastidru52  15.45               4        15.45          3.862500
Chamjask73   13.83               3        13.83          4.610000
Iral74       13.62               4        13.62          3.405000
Iskadarya95  13.10               3        13.10          4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
popular_items_count = pd.DataFrame(purchase_data["Item Name"].value_counts())
popular_items_count.head()

                                              Item Name
Final Critic                                         13
Oathbreaker, Last Hope of the Breaking Storm         12
Fiery Glass Crusader                                  9
Nirvana                                               9
Extraction, Quickblade Of Trembling Hands             9

In [27]:
popular_counts=purchase_data

popular_counts =purchase_data.groupby(["Item ID", "Item Name"]).sum().sort_values("Price", ascending=False)
popular_counts=popular_counts.drop(["Purchase ID", "Age"], axis=1)
#popular_counts["Units"]=popular_items_count
#popular_counts["Purchase Count"]=unique_items_spend["Units Sold"]
popular_counts.head()

#Can't get units to display here aligned with this list...

                                                      Price  Units
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  50.76    0.0
82      Nirvana                                       44.10    0.0
145     Fiery Glass Crusader                          41.22    0.0
92      Final Critic                                  39.04    0.0
103     Singed Scalpel                                34.80    0.0

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
#rehashing above because it's nearly the same outcome...and can't get the specifics right..but close
total_item_spend =purchase_data.groupby(["Item Name"]).sum().sort_values("Price", ascending=False)
total_item_spend
total_item_spend=total_item_spend.drop(["Purchase ID", "Age","Item ID"], axis=1)
total_item_spend["Units Sold"]=unique_items_count["Item Name"]
total_item_spend["Average Price"] = total_item_spend["Price"]/unique_items_count["Item Name"]
total_item_spend.head()

,Price,Units,Units Sold,Average Price
Item Name,,,,
Final Critic,59.99,0.0,13,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",50.76,0.0,12,4.230000
Nirvana,44.10,0.0,9,4.900000
Fiery Glass Crusader,41.22,0.0,9,4.580000
Singed Scalpel,34.80,0.0,8,4.350000